/* .mainpic {
    background-image: url(../../../../assets/img/mainpic7.jpg);    
    width: 100%;
    height: 52rem;
    background-size: 100% 100vh;
    filter:alpha(opacity=70);
    opacity: 1.0;
    -moz-opacity:0.8;
    
} */