<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardpoliceMapper">

    <select id="list" resultType="com.example.domain.BbspoliceVO">
        select * from tbl_bbspolice
        order by bpno desc
    </select>

    <select id="read" resultType="com.example.domain.BbspoliceVO">
        select p.*, pc.pcontent from tbl_bbspolice p, tbl_reason_category pc
        where bpno = #{bpno} and p.reasonid = pc.reasonid;
    </select>

    <insert id="insert">
        insert into tbl_bbspolice(bno, sender, pcontent, reasonid)
        values(#{bno}, #{sender}, #{pcontent}, #{reasonid})
    </insert>
    
    <delete id="delete">
        delete from tbl_bbspolice
        where bpno = #{bpno}
    </delete>
</mapper>