.logo-wrap {
  background: #fff;
  display: block;
  width: 250px;
  height: 35px;
  border-radius: 5px;
  line-height: 35px;
  margin-top: 150px;
}

.logo-wrap:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.logo-img {
  width: 20px;
  display: inline-block;
  text-align: left;
}

.logo-title {
  width: 80%;
  display: inline-block;
  text-align: right;
}
