<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
    <select id="bbsmax" resultType="int">
        select max(bno) from tbl_bbs
    </select>
    
    <select id="bbslist" resultType="com.example.prac0627.domain.BoardVO">
        select * from tbl_bbs       
         order by bno desc      
    </select>

    <select id="bbsread" resultType="com.example.prac0627.domain.BoardVO">
        select * from tbl_bbs
        where bno = #{bno}        
    </select>

    <select id="bbsimglist" resultType="com.example.prac0627.domain.BoardVO">
        select imgpath from tbl_bbs
        order by bno desc
    </select>

    <insert id="bbsinsert">
        insert into tbl_bbs(title, writer, content, imgpath)
        values(#{title}, #{writer}, #{content}, #{imgpath})
    </insert>

    <update id="bbsupdate">
        update tbl_bbs set title=#{title}, writer=#{writer}, content=#{content}, imgpath=#{imgpath}
        where bno=#{bno}
    </update>
    
    <delete id="bbsdelete">
        delete from tbl_bbs where bno = #{bno}
    </delete>
    
    <select id="bbscount" resultType="int">
        select count(*) from tbl_bbs
    </select>
    
<!-- bbslike Start -->
       <select id="bbslikeread" resultType="com.example.prac0627.domain.BoardVO">
          select liker from tbl_bbslike
          where bno = #{bno}
        </select>

        <select id="bbslikecount" resultType="com.example.prac0627.domain.BoardVO">
            select l.bno from tbl_bbslike l, tbl_bbs b where l.bno = b.bno;
        </select>

        <insert id="bbslikeinsert">
            insert into tbl_bbslike(bno, liker)
            values(#{bno}, #{liker})            
        </insert>

        <delete id="bbslikedelete">
            delete from tbl_bbslike where bno = #{bno} and liker = #{liker}
        </delete>
        
<!-- bbstag Start -->
    <select id="bbstagread" resultType="com.example.prac0627.domain.BoardVO">
        select distinct bno from tbl_tag where tagword like "%"#{tagword}"%";
    </select>
<select id="bnotagread" resultType="String">
        select tagword from tbl_tag where bno = #{bno};
    </select>
    <insert id="bbstaginsert">
        insert into tbl_tag(bno, tagword)
        values(#{bno}, #{tagword})
    </insert>

</mapper>